<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kit.fontawesome.com/f324db610c.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <h1>Welcom To Manifest Airlines </h1>
    
  </nav>
  <div class="main">
    <div class="content">
      <h1>Select Cities</h1>
      <form action="/fetch" method="POST">
        <label for="city1">City 1:</label>
        <select name="city1" id="city1" required onchange="check()">
          <option value="">Select a city</option>
          <!-- Iterate over the cities array to populate the options -->
          <% cities.forEach(function(city) { %>
            <option value="<%= city %>">
              <%= city %>
            </option>
            <% }) %>
        </select>
        <br>
        <label for="city2">City 2:</label>
        <select name="city2" id="city2" required onchange="check()">
          <option value="">Select a city</option>
          <!-- Iterate over the cities array to populate the options -->
          <% cities.forEach(function(city) { %>
            <option value="<%= city %>">
              <%= city %>
            </option>
            <% }) %>
        </select>
        <br>
        <button id="btn" type="submit"><i class="fa-solid fa-plane-departure"></i> Ready to Fly</button>
      </form>
    </div>


  </div>

  <script>
   const check = () => {
  var city1Dropdown = document.getElementById("city1");
  var city2Dropdown = document.getElementById("city2");
  var selectedCity1 = city1Dropdown.value;
  var selectedCity2 = city2Dropdown.value;
  var btn = document.getElementById("btn");

  if (selectedCity1 == selectedCity2) {
    btn.innerText = "Can't choose the same city";
    btn.disabled = true;
  } else {
    btn.innerText = "Ready to Fly";
    btn.disabled = false;
  }
}
 


  </script>
</body>

</html>